
/* Button */

.btn
  display inline-block
  background $vermelho
  padding 5px 15px 8px 15px
  radius()
  transition .4s all ease
  &:hover
    background #D14B74

.btn-label
  font-size 14px
  line-height 14px
  color #fff
  &:after
    content '\f105'
    font-family 'FontAwesome'
    padding-left 10px
