/** Mapa **/

.mapa
  margin-top 30px

.map-area
  position relative
  min-height 640px

.contact-area
  +above(768px)
    position absolute
    background #f9f9f9
    padding 30px
    top 0
    left 0
    z-index 10
