
/** Page **/

.page-content
  background $cinza-bg
  p
    color $cinza
    font-size 14px
    line-height 20px

.section-int-tit
  font-size 20px
  text-transform none
  text-align center
  +above(768px)
    font-size 28px

.separator
  margin 20px 0
  display inline-block
  width 100%

.chamada
  padding 40px 0
  +above(1280px)
    padding 60px 0
  p
    color $cinza
    font-size 14px
    line-height 20px

.chamada .call-action
  text-align center
