/* Testimonials */

.testimonials
  background $cinza-bg

.testimonials-tit
  text-align center
  +above(1024px)
    text-align center
    margin-bottom 30px

.testimonial-item
  margin-top 30px
  +above(540px)
    column(1/2, cycle:2)
  +above(1280px)
    margin-bottom 40px

.user
  text-align center
  +above(1024px)
    column(2/8)
    text-align center

.avatar
  margin-bottom 5px

.caption
  font-family 'montserratlight', sans-serif
  font-size 12px

.comment-tit
  font-size 16px
  margin-bottom 0

.comment
  p
    font-size 14px
    line-height 20px
    color $cinza
    margin-top 5px
