// Functions.styl.
// Aqui vão as funções mais básicas para agilizar o desenvolvimento de um website.


// logo: retorna a logo no site, bastando editar a largura e a altura.
logo(w = 100px, h = 100px)
	float left
	display block
	width w * 1px
	height h * 1px
	background url('../img/logo.png')

// define o tamanho e a cor do hr.
hrcolor(color)
	background color
	height 1px
	color color
	border none

// define o estilo básico de uma div que sobrepõe uma div base, para efeitos de ajax.
loadingParent(bg = #fff)
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background bg
	z-index -1
	opacity 0
	&.active
		z-index 10
		opacity 1

// centraliza o loading, definindo apenas o tamanho base dele.
loading(w = 58, h = 58)
	width w * 1px
	height h * 1px
	position absolute
	top 50%
	left 50%
	margin-left 0px
	margin-top ((h / 2) * -1px)

// centraliza uma div num contexto, usando método antigo.
centerDiv(w = 100, h = 100)
	width w * 1px
	height h * 1px
	position absolute
	top 50%
	left 50%
	margin-left ((w / 2) * -1px)
	margin-top ((h / 2) * -1px)

// define uma transição.
transitions(time = .5s, itens = all, easing = ease-out)
	transition itens time easing;

// cria um retangulo orientado para a direita
triangleRight(color, r = 0, bottom = 50px, top = 50px, side = 20px)
	position relative
	&:after
		content ''
		position absolute
		width 0
		height 0
		border-bottom (bottom * 1px) solid transparent
		border-top (top * 1px) solid transparent
		border-right (side * 1px) solid color
		line-height 0
		right r * 1px
		top 0
// cria um retangulo orientado para a esquerda
triangleLeft(color, l = 0, bottom = 50px, top = 50px, side = 20px)
	position relative
	&:before
		content ''
		position absolute
		width 0
		height 0
		border-bottom (bottom * 1px) solid transparent
		border-top (top * 1px) solid transparent
		border-left (side * 1px) solid color
		line-height 0
		left l * 1px
		top 0

// cria a base de código necessária para um menu com drop down
navigationLevel(timer = 0.75s, top = 25px)
	li
		position relative
		display block
	li ul
		position absolute
		overflow hidden
		opacity 0
		max-height 0
		z-index -2
		top top * 1px
	li:hover ul
		opacity 1
		max-height 300px
		z-index 10
	li ul, li:hover ul
		transitions(timer)

// cria uma div que sobrepõe uma outra div
backgroundOver(color, w = 100%, h = 100%)
	position absolute
	width w
	top 0
	left 0
	height h
	background color
	z-index -2
	opacity 0
// adicionar este código quando for o hover da imagem
backgroundOverHover()
	opacity 1
	z-index 100

// deixa o item fixo
fixedItem(w = 100%, h = 50px)
	width w
	max-height h
	position fixed
	top 0
	left 0

centerModern(w = 100%, h = 50px)
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	width w * 1px
	height h * 1px

centerOneLine(w = 100px, h = 50px)
	height h * 1px
	line-height h * 1px
	width w * 1px

centerOneLineVert(h = 50px)
	height h * 1px
	line-height h * 1px

boxArea(w = 100%)
	width w
	float left
	clear both
	position relative

boxCenter(w = 99%, mt = 0, mb = 0)
	float none
	margin mt auto mb
	display block
	width w

btn(w = 200px, h = 50px, lh = 50px)
	width w * 1px
	height h * 1px
	line-height lh * 1px
	display block
	text-align center

lightbox(w = 200px, h = 50px, maskBg = rgba(0,0,0,.75), windowBg = #fff, windowPd = 20px)
	.mask
		width 100%
		height 100%
		position fixed
		top 0
		left 0
		z-index -2
		opacity 0
		background maskBg
		transitions(1s)
		&.active
			z-index 100
			transitions(1s)
			opacity 1
	.window
		padding windowPd
		z-index -1
		opacity 0
		centerModern(w, h)
		transitions(1s)
		background windowBg
		&.active
			z-index 101
			transitions(1s)
			opacity 1
	.close
		position absolute
		top 0px
		right 14px
		font-size 50px
		color #000