html
  font-family 'montserratlight', sans-serif
  color $preto

a
  text-decoration none

ul
  margin 0
  padding 0
  list-style-type none


h1,h2,h3,h4
  margin-top 0
  font-family 'montserratsemi_bold', sans-serif

h1,h2
  text-transform uppercase

h1
  font-size 22px

h3
  font-size 22px

