/*---------------------------------------------------------------------------*/
/* Colors */
/*---------------------------------------------------------------------------*/

$preto = #2c313a
$roxo = #7d6b91
$verde = #69d1c5
$azul-claro = #8eb8e5
$azul-escuro = #7c99b4
$vermelho = #D1587D
$cinza = #858585
$cinza-bg = #f0f0f0
