/*---------------------------------------------------------------------------*/
/* Colors */
/*---------------------------------------------------------------------------*/

$preto = #000
$azul = blue
