/*---------------------------------------------------------------------------*/
/* Wrappers */
/*---------------------------------------------------------------------------*/

.wrapper
  center (1100px)
  position relative
  padding 0 20px

.wrapper-limit
  max-width 740px
