/*---------------------------------------------------------------------------*/
/* Wrappers */
/*---------------------------------------------------------------------------*/

.wrapper
  center (960px)
  position relative
